body {
	background: #E9E9E9;
}

#mainContent {
	height: 800px;
	padding: 0px;
	position: relative;
	top: 0px;
	background: #fff;
}

#mainContent #selectArea {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100px;
}

#selectArea>form {
	height: 100px;
	line-height: 100px;
}

#addModal form div:nth-child(5) {
	padding-left: 60px;
}

#selectArea>form input {
	width: 170px;
}

#selectArea>form button {
	margin-top: -5px;
	margin-left: 10px;
}

#selectArea #exportWraper {
	height: 100px;
	line-height: 100px;
	color: #015595;
}

#insert {
	border-radius: 13px;
	width: 95px;
	height: 30px;
	line-height: 30px;
	background: #4564A4;
	border: 1px solid #015595;
	color: #fff;
	font-size: 14px;
	margin-top: 35px;
}

#insert:hover {
	background: #015595;
	border: 1px solid #4564A4;
}

#addbtn {
	text-align: center;
}

#addbtn button {
	width: 80px;
	margin-left: 10px;
}

#mainContent #officeTable {
	position: absolute;
	top: 100px;
	height: 560px;
	border: 1px solid lightgray;
}

#officeTable table tr td {
	text-align: center;
	overflow: hidden;
	text-align: justify;
}

#officeTable tbody a {
	color: #333333;
	font-size: 13px;
}

#mainContent #pageArea {
	height: 90px;
	text-align: center;
	position: absolute;
	bottom: 20px;
}

#pageArea li a {
	width: 45px;
	height: 40px;
}

@media (min-width:1200px) {
	#selectForm input {
		width: 170px !important;
	}
	#selectForm>.form-group {
		margin-left: 10px;
	}
	#selectForm>.form-group>label {
		margin-right: 10px;
	}
}

@media (min-width: 768px) and (max-width:991px) {
	#selectArea #selectForm {
		padding-left: 0px;
	}
	#selectForm>.form-group {
		margin-left: 10px;
	}
	#selectForm>.form-group>label {
		margin-right: 10px;
	}
	#selectForm input {
		width: 130px !important;
	}
}

@media (max-width: 767px) {
	#selectForm {
		margin-left: 0px;
	}
	#selectForm label {
		width: 40px;
		float: left;
	}
	#selectForm input {
		width: 130px !important;
		float: left;
		margin-left: 12px;
		margin-top: 33px;
	}
	#selectForm .form-group {
		float: left;
		margin-left: 10px;
	}
	#selectForm div:nth-child(2) {
		margin-left: -20px;
	}
}
