#mainContent {
	width: 100%;
	height: 600px;
	background: #E9E9E9;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

#mainContent #userTitle {
	background: #fff;
	height: 150px;
	margin-top: 20px;
	padding-top: 20px;
}

#userTitle #userImage {
	display: inline-block;
	width: 110px;
	height: 110px;
	background: red;
	position: absolute;
	left: 30px;
}

#userTitle #titleCenter {
	display: inline-block;
	height: 110px;
	margin-left: 140px;
	padding-top: 12px;
}

#titleCenter #userName {
	font-size: 20px;
}

#titleCenter #userId {
	margin-top: 5px;
	font-size: 16px;
	color: #E88D8A;
	font-weight: bold;
	margin-left: 10px;
}

#titleCenter #userRole {
	font-size: 15px;
	margin-top: 5px;
}

#titleCenter #officeId {
	font-size: 15px;
	margin-top: 5px;
}

#userTitle #titleRight {
	display: inline-block;
	height: 110px;
	margin-right: 20px;
}

#titleRight #submitBtn {
	background: #E88D8A;
	border: 1px solid #FFE4B5;
	width: 60px;
	height: 35px;
	border-radius: 3px;
	color: white;
	margin-top: 25px;
	margin-left: 8px;
}

#titleRight #submitBtn:hover {
	background: #FFA07A;
	color: white;
}

#titleRight a {
	color: #E88D8A;
	display: block;
	margin-top: 10px;
}

#titleRight a:hover {
	color: #FFA07A;
}

#mainContent #userMessage {
	height: 400px;
	margin-top: 10px;
	background: white;
}

#userMessage ul {
	padding: 0px;
	margin: 0px;
}

#userMessage ul li {
	display: inline-block;
	margin-top: 15px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	list-style: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#userMessage ul li a {
	color: #333333;
	text-decoration: none;
}

#userMessage ul li:hover {
	background: #E9E9E9;
}

#userMessage .current {
	background: #E9E9E9;
}

#myTabContent [id$=Message] {
	height: 330px;
	border: 1px solid #E9E9E9;
}

#myTabContent #myWrapper1,
#myTabContent #myWrapper3 {
	margin-top: 100px;
}

#myWrapper1 .form-group,
#myWrapper3 .form-group {
	margin-bottom: 30px;
}

#myTabContent #myWrapper2 {
	margin-top: 40px;
}

#myWrapper2 .form-group {
	margin-bottom: 20px;
}

#mainContent #submitResponse {
	height: 400px;
	background: #fff;
	margin-top: 10px;
	border-left: 10px solid #E9E9E9;
}

@media (max-width:767px) {
	#myTab li {
		text-align: center;
	}
	#myTab li a {
		font-size: 13px;
		margin-left: 9px;
		padding-left: 0px;
		padding-right: 0px;
		text-align: left;
	}
	#myTabContent label {
		font-size: 13px;
	}
}
