<!DOCTYPE html>
<html lang="en" ng-app="userApp">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>本科室所有设备</title>
	<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/userLogoNav.css" />
	<link rel="stylesheet" href="css/footer.css" />
	<link rel="stylesheet" href="css/officedevice.css" />
	<script src="js/angular.js"></script>
	<script src="js/user.js"></script>
</head>

<body ng-controller="deviceControler">
	<!--loginNav start-->
	<div user_nav></div>
	<!--loginNav end-->
	<!--mainContent start-->
	<div id="mainContent">
		<div class="container">
			<div class="row" id="deviceWraper">
				<!--条件查询 start-->
				<div id="selectArea" class="col-md-12 col-sm-12 col-xs-12">
					<div class="col-md-4 pull-right" id="export">
						<a href="">
							<i class="glyphicon glyphicon-export"></i>导出所有设备
						</a>
					</div>
				</div>
				<!--条件查询 end-->
				<!--设备信息 start-->
				<div id="deviceMessage" class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1 table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>编号</th>
								<th>设备名</th>
								<th>生产商</th>
								<th>图片</th>
								<th>生产日期</th>
								<th>保质期</th>
								<th>科室</th>
								<th>检修时间</th>
								<th>间隔时间</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="x in devices">
								<td>{{x.id}}</td>
								<td>{{x.name}}</td>
								<td>{{x.provider}}</td>
								<td>{{x.img}}</td>
								<td>{{x.producedate}}</td>
								<td>{{x.shelflife}}</td>
								<td>{{x.office}}</td>
								<td>{{x.repairtime}}</td>
								<td>{{x.interval}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!--设备信息 end-->
				<div id="pageArea" class="col-md-12 col-sm-12 col-xs-12">
					<ul class="pagination">
						<li><a href="" ng-click="previous()">&laquo;</a></li>
						<li ng-repeat="page in pagesList"><a href="" ng-click="selectPage(page)">{{page}}</a></li>
						<li><a href="" ng-click="next()">&raquo;</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--mainContent end-->
	<!--footer start-->
	<div footer></div>
	<!--footer end-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>

</html>
